:root {
  --font-main: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  background-color: #0270E3; /* Fallback */
}
